.test{
  color:red;
}

.illustration .reveal h1{
  color:blue;
  font-size: 18px;
  background: black;
  }
.illustration .reveal p{
  font-size: 30px;
  }
.intro .reveal .state-background {
  
  
}

.intro .reveal p {
  color: green;
}


.reveal .state-background {
  background: #FFFFCC;
  } 

.analysis .reveal h1{
  color:red;
  font-size: 72px;
}
.analysis .reveal h2,
.analysis .reveal h3,
.analysis .reveal p {
  font-size: 30px; color: black;
}
.analysis .reveal li {
  font-size: 22px; color: blue;
}

.reveal table {
border-width: 1px;
border-spacing: 2px;
border-style: none;
border-collapse: collapse;
font-size: 0.7em;
margin-left: auto;
margin-right: auto;
}

.reveal table th {
border-width: 1px;
background-color: #e2e2e2;
padding: 0 30px 0 30px;
font-weight: bold;
border-style: none;
}

.reveal table td {
border-width: 1px;
padding: 0 5px 0 5px;
border-style: none;
border-color: gray;
}

.reveal table tr:nth-child(even) { 
background-color: #f4f4f4; 
}
